version: "3"

services:
  lifelog-bot:
    image: xxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/discord-bot_sellerie:latest
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 10
        window: 120s
    environment:
        DISCORD_API_KEY: 'xxx'
        DISCORD_CHANNEL_ID: 'kkk'
        DB_HOST: 'yyy'
        DB_USER: 'zzz'
        DB_PASS: 'aaa'
        DB_NAME: 'ddd'
